* {
  padding: 0;
  margin: 0;
  font-family: 'Lufga';
}

body {
  display: flex;
}

.split {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  min-width: 550px;
  gap: 64px;
}

.left {
  left: 0;
  background-color: #704FE6;
}

.right {
  right: 0;
  background-color: #fff;
}

.header-logo img {
  width: 40px;
}

.header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #25252B;
}

.header-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header {
  display: flex;
  color: #25252B;
  font-style: normal;
  font-size: 40px;
  font-weight: 500;
  line-height: 52px;
}

.description {
  width: fit-content;
  font-family: 'Lufga';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #25252B;
  opacity: 0.6;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.header-forgot {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.center label {
  width: 477px;
  font-family: 'Lufga';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #25252B;
  opacity: 0.6;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.header-input {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.form-container input {
  border: 2px solid #e1e5e9;
  outline: none;
  height: 20px;
  border-radius: 50px;
  padding: 19.5px 24px;
  background: rgba(37, 37, 43, 0.05);
  transition: all 0.2s;
}

.form-container ::placeholder {
  opacity: 40%;
  font-size: 16px;
}

.form-container input:focus {
  border: 2px solid #704FE6;
  outline: none;
}

.input-semua {
  display: flex;
  flex-direction: column;
  min-width: 550px;
  gap: 24px;
}

.input-email {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-password {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-container {
  box-sizing: border-box;
  min-width: 550px;
}

.forgot-password {
  display: inline;
  font-family: 'Lufga';
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: right;
  letter-spacing: -0.02em;
  color: #704FE6;
  cursor: pointer;
  text-decoration: none;
}

.forgot-password:hover {
  color: #6146c4;
}

.sign-in {
  box-sizing: border-box;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #704FE6;
  border: 2px solid #704FE6;
  border-radius: 26px;
  min-width: 550px;
  height: 52px;
  padding: 16px;
  transition: all 0.3s;
}

.sign-in:hover {
  background: #6146c4;
  cursor: pointer;
}

.sign-in p {
  font-family: 'Lufga';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.04em;
  color: rgba(37, 37, 43, 0.6);
}

.sign-in a {
  color: #704FE6;
  text-decoration: none;
}

.sign-in a:hover {
  color: #6146c4;
  ;
}

.sign-in-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sign-up {
  width: 550px;
  height: 18px;
  font-family: 'Lufga';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.04em;
  color: rgba(37, 37, 43, 0.6);
}

.sign-up a {
  text-decoration: none;
  color: #704FE6;
}

.header-left {
  width: 679px;
  height: 168px;
  font-family: 'Lufga';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 84px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}

.header-left img {
  position: absolute;
}

.image-1 {
  position: absolute;
  width: 297px;
  height: 297px;
  left: -83px;
  top: -101px;
}

.image-2 {
  width: 145px;
  height: 27px;
  flex: none;
  order: 0;
  flex-grow: 0;
  top: 430px;
}

.image-3 {
  position: absolute;
  width: 300px;
  height: 296.75px;
  left: 480px;
  top: 288px;

}

.image-4 {
  width: 137px;
  height: 137px;
  left: 687px;
  top: 698px;
}

.image-5 {
  position: absolute;
  width: 358px;
  height: 152px;
  left: 601px;
  top: 980px;
}
