* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    background-color: #f4f4f4;
}

.search-bar input{
    align-items: center;
    justify-content: center;

}

.tengah {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.sidebar {
    width: 200px;
    background-color: #f0f0f0;
    color: rgb(84, 84, 84);
    padding: 20px;
}

.sidebar h3 {
    margin-bottom: 20px;
    display: flex;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li {
    margin: 10px 0;
}

.main-content {
    flex: 1;
    padding: 20px;
}

header {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

header h2 {
    color: #333;
}

header input {
    padding: 6px;
    border: 1px solid #ccc;
}

.banners {
    margin: 20px 0;
}

.banner-promo {
    width: 600px;
    height: 110px;
    background-color: #704FE6;
}

.banner-promo p{
    text-align: center;
    margin-top: 5%;
}

.banner-main {
    width: 600px;
    height: 110px;
    background-color: #FFD25D;
      
}

.banner-main p {
    text-align: center;
    margin-top: 5%;
}

.banner {
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    text-align: center;
}

.categories {
    display: flex;
    margin-bottom: 20px;
    float: bottom;
    padding-bottom: 20px;
}

.categories button {
    flex: 1;
    padding: 15px;
    margin: 0 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.categories .a01, .categories .a04 {
    background-color: #704FE6;
}

.categories .a02, .categories .a05 {
    background-color: #DEC8FE;
}

.categories .a03 {
    background-color: #FFD25D;
}

.categories .ao1 img{
    width: auto;    
    height: 40px;
}

.bootcamps, .recommended {
    margin-bottom: 20px;
}

.bootcamp-card {
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 245px;
    height: 150px;
    display: table-cell;
    padding: 15px;
}

h3 {
    margin-bottom: 10px;
}
.card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.card:active {
  transform: scale(0.98);
}

.logo1{
    display: flex;
    gap: 10px;
}

.text {
    align-content: center;
    justify-content: center;
    justify-items: center;

}

.logo1 img{
    border-radius: 100%;
    background-color: #DEC8FE;
    width: 30px;
    height: 30px;
    gap: 10px;
}